version: "2"
services:  
  nginx:
    container_name: nginx
    image: jwilder/nginx-proxy:alpine
    ports:
     - "80:80"
     - "443:443"
    networks:
      - bridge-inside      
    volumes:     
     - "/etc/nginx/vhost.d"
     - "/usr/share/nginx/html"
     - "/docker-data/nginx/certs:/etc/nginx/certs:ro"
     - "/var/run/docker.sock:/tmp/docker.sock:ro"
    restart: always

  letsencrypt-nginx-proxy-companion:
   image: jrcs/letsencrypt-nginx-proxy-companion
   container_name: letsencrypt-nginx-proxy-companion
   networks:
      - bridge-inside
   volumes_from:
     - nginx
   volumes:
     - "/var/run/docker.sock:/var/run/docker.sock:ro"
     - "/docker-data/nginx/certs:/etc/nginx/certs:rw"
   restart: always
   
networks:
  bridge-inside:
    external: true