version: "2"
services:
  guacd:
    container_name: guacd
    image: guacamole/guacd
    networks:
      - inside
    restart: always
  guacamole:
    container_name: guacamole
    image: guacamole/guacamole  
    depends_on:
     - guacd
    networks:
      - inside
    env_file:
     - /docker-data/env-files/guacamole.env
    restart: always
  wordpress:
    container_name: wordpress
    image: wordpress
    restart: always
    networks:
      - inside
    env_file:
     - /docker-data/env-files/wordpress.env
    volumes:
     - /docker-data/wp-content:/var/www/html/wp-content # Location of wordpress content files
  gateone:
    container_name: gateone
    image: liftoff/gateone
    restart: always
    networks:
      - inside
    volumes:
     - /docker-data/gateone/10server.conf:/etc/gateone/conf.d/10server.conf.new:ro
    command: sh -c 'cp /etc/gateone/conf.d/10server.conf.new /etc/gateone/conf.d/10server.conf && /usr/local/bin/update_and_run_gateone --log_file_prefix=/gateone/logs/gateone.log'

networks:
  inside:
    external:
      name: bridge-inside